In [1]:
import pandas as pd

In [2]:
import atoti as tt

Welcome to atoti 0.7.1!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

### Load Data

In [3]:
courses_frame = pd.read_csv('data/courses.csv')

In [4]:
std_info_frame = pd.read_csv('data/studentInfo.csv')

In [5]:
assesments_frame = pd.read_csv('data/assessments.csv')

### Ambil fitur-fitur pada tabel yang akan untuk dianalisis

#### Pilih fitur dari Tabel course

In [6]:
# ambil feature yang diperlukan pada dataframe std_asses_frame
courses = pd.DataFrame(courses_frame, columns=['code_presentation', 'code_module'])

# tampilkan data
courses.head(5)

  code_presentation code_module
0             2013J         AAA
1             2014J         AAA
2             2013J         BBB
3             2014J         BBB
4             2013B         BBB

#### Pilih fitur dari Tabel studentInfo

In [7]:
# ambil feature yang diperlukan pada dataframe std_asses_frame
stdInfo = pd.DataFrame(std_info_frame, columns=['id_student', 'final_result', 'gender','age_band', 'studied_credits', 'region'])

# id perlu diubah menjadi string
stdInfo['id_student'] = stdInfo['id_student'].astype('string')

# tampilkan data
stdInfo.head(5)

,id_student,final_result,gender,age_band,studied_credits,region
0,11391,Pass,M,55<=,240,East Anglian Region
1,28400,Pass,F,35-55,60,Scotland
2,30268,Withdrawn,F,35-55,60,North Western Region
3,31604,Pass,F,35-55,60,South East Region
4,32885,Pass,F,0-35,60,West Midlands Region

#### Pilih fitur dari Tabel assesments

In [9]:
# ambil feature yang diperlukan pada dataframe assesments_frame
asses = pd.DataFrame(assesments_frame, columns=['id_assessment', 'assessment_type', 'date'])

# id perlu diubah menjadi string
asses['id_assessment'] = asses['id_assessment'].astype('string')

asses.head(5)

  id_assessment assessment_type   date
0          1752             TMA   19.0
1          1753             TMA   54.0
2          1754             TMA  117.0
3          1755             TMA  166.0
4          1756             TMA  215.0